.grid {
  width: 800px;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

.grid div {
  height: 40px;
  width: 40px;
}

.checked {
  background-color: red;
}
.bomb {
  background-color: orange;
}

.page {
  padding: 30px;
  font-family: sans-serif;
}
